.fold{
	svg{display: block;}
	.figration{
		border-radius: 0 0 12px 12px;
		box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
		color: #6e6f70;
		font-size: 14px;
		background-color: #f8f8f8;
		overflow: hidden;
		position: relative;
		padding: 0 9px;
		line-height: 38px;
	}
}