
@font-face {
  font-family: "tbzico";
  src: url('../../font/tbzico.eot'); /* IE9*/
  src: url('../../font/tbzico.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../font/tbzico.woff') format('woff'), /* chrome, firefox */
  url('../../font/tbzico.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../../font/tbzico.svg#tbzico') format('svg'); /* iOS 4.1- */
}

.tbzico {
  font-family:"tbzico" !important;
  font-size:16px;
  font-style:normal;
  color: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-color-ok:before { content: "\e674"; }

.ico-more:before { content: "\e603"; }

.ico-fav:before { content: "\e604"; }

.ico-el:before { content: "\e605"; }

.ico-del:before { content: "\e606"; }

.ico-bought:before { content: "\e607"; }

.ico-design:before { content: "\e608"; }

.ico-share:before { content: "\e609"; }

.ico-arrowL:before { content: "\e60b"; }

.ico-arrowR:before { content: "\e60c"; }

.ico-disk:before { content: "\e60d"; }

.ico-size:before { content: "\e60e"; }

.ico-skin:before { content: "\e60f"; }

.ico-work:before { content: "\e610"; }

.ico-meida:before { content: "\e611"; }

.ico-set:before { content: "\e612"; }

.ico-info:before { content: "\e613"; }

.ico-recom:before { content: "\e614"; }

.ico-life:before { content: "\e615"; }

.ico-taobao:before { content: "\e616"; }

.ico-eye:before { content: "\e617"; }

.ico-print:before { content: "\e618"; }

.ico-heart:before { content: "\e61a"; }

.ico-zeng:before { content: "\e61b"; }

.ico-cross:before { content: "\e61c"; }

.ico-fold:before { content: "\e61e"; }

.ico-hdown:before { content: "\e61f"; }

.ico-hup:before { content: "\e620"; }

.ico-close1:before { content: "\e621"; }

.ico-bill:before { content: "\e622"; }

.ico-email:before { content: "\e623"; }

.ico-search:before { content: "\e624"; }

.ico-phone:before { content: "\e625"; }

.ico-sort:before { content: "\e626"; }

.ico-down:before { content: "\e627"; }

.ico-out:before { content: "\e628"; }

.ico-addbd:before { content: "\e629"; }

.ico-add:before { content: "\e62a"; }

.ico-setbd:before { content: "\e62b"; }

.ico-showblock:before { content: "\e62c"; }

.ico-showlist:before { content: "\e62d"; }

.ico-folder:before { content: "\e62f"; }

.ico-bi:before { content: "\e619"; }

.ico-wenjianjiaguanbi:before { content: "\e630"; }

.ico-wenjianjiadakai:before { content: "\e631"; }

.ico-kai:before { content: "\e632"; }

.ico-upload:before { content: "\e633"; }

.ico-ok:before { content: "\e634"; }

.ico-arrowB:before { content: "\e635"; }

.ico-arrowT:before { content: "\e636"; }

.ico-creator:before { content: "\e637"; }

.ico-tuichu:before { content: "\e638"; }

.ico-logo2:before { content: "\e639"; }

.ico-edit:before { content: "\e63a"; }

.ico-gmember:before { content: "\e61d"; }

.ico-gdesign:before { content: "\e63b"; }

.ico-logo:before { content: "\e63c"; }

.ico-store:before { content: "\e62e"; }

.ico-eSize:before { content: "\e63d"; }

.ico-eSave:before { content: "\e63e"; }

.ico-eBack:before { content: "\e63f"; }

.ico-ePreview:before { content: "\e640"; }

.ico-eShare:before { content: "\e641"; }

.ico-eRestore:before { content: "\e642"; }

.ico-eLogo:before { content: "\e643"; }

.ico-ePrint:before { content: "\e644"; }

.ico-eDown:before { content: "\e645"; }

.ico-flipy:before { content: "\e646"; }

.ico-check:before { content: "\e647"; }

.ico-fenxiang:before { content: "\e648"; }

.ico-share-moments:before { content: "\e649"; }

.ico-share-wx:before { content: "\e64a"; }

.ico-copy:before { content: "\e64b"; }

.ico-close:before { content: "\e64c"; }

.ico-add2:before { content: "\e64d"; }

.ico-add3:before { content: "\e64e"; }

.ico-share-weibo:before { content: "\e64f"; }

.ico-italic:before { content: "\e650"; }

.ico-align-center:before { content: "\e651"; }

.ico-arrow-up:before { content: "\e652"; }

.ico-updown:before { content: "\e653"; }

.ico-remove:before { content: "\e654"; }

.ico-upload2:before { content: "\e655"; }

.ico-shouye:before { content: "\e656"; }

.ico-shouye1:before { content: "\e657"; }

.ico-shouye2:before { content: "\e658"; }

.ico-setting:before { content: "\e659"; }

.ico-shouye4:before { content: "\e65a"; }

.ico-menu:before { content: "\e65b"; }

.ico-flipx:before { content: "\e65c"; }

.ico-elements:before { content: "\e65d"; }

.ico-layer-top:before { content: "\e65e"; }

.ico-layer:before { content: "\e65f"; }

.ico-layer-bottom:before { content: "\e660"; }

.ico-layer-up:before { content: "\e661"; }

.ico-layer-down:before { content: "\e662"; }

.ico-image:before { content: "\e663"; }

.ico-arrow-down:before { content: "\e664"; }

.ico-tpl:before { content: "\e665"; }

.ico-wenzi:before { content: "\e666"; }

.ico-newpage:before { content: "\e667"; }

.ico-tpl-active:before { content: "\e668"; }

.ico-mydesign-active:before { content: "\e669"; }

.ico-mydesign:before { content: "\e66a"; }

.ico-bought-active2:before { content: "\e66b"; }

.ico-bought2:before { content: "\e66c"; }

.ico-account:before { content: "\e66d"; }

.ico-account-active:before { content: "\e66e"; }

.ico-align-right:before { content: "\e66f"; }

.ico-arrow-right:before { content: "\e670"; }

.ico-arrow-left:before { content: "\e671"; }

.ico-align-left:before { content: "\e672"; }

.ico-upper:before { content: "\e673"; }
