/* zoom */
.zoom-enter {
  opacity: 0;
  transform:scale(0.1);
}
.zoom-enter.zoom-enter-active {
  opacity: 1;
  transform:scale(1);
  transition: all .3s ease-in;
}
.zoom-leave {
	transform:scale(1);
  opacity: 1;
}
.zoom-leave.zoom-leave-active {
  opacity: 0;
  transform:scale(0.1);
  transition: all .2s ease-in;
}
/* fadeUp */
.fadeUp-enter {
  opacity: 0;
  transform:translateY(-80px);
}
.fadeUp-enter.fadeUp-enter-active {
  opacity: 1;
  transform:translateY(0);
  transition: all .3s ease-in;
}
.fadeUp-leave {
  transform:translateY(0);
  opacity: 1;
}
.fadeUp-leave.fadeUp-leave-active {
  opacity: 0;
  transform:translateY(80px);
  transition: all .2s ease-in;
}
/* fadeRight */
.fadeRight-enter {
  opacity: 0;
  transform:translateX(-80px);
}
.fadeRight-enter.fadeRight-enter-active {
  opacity: 1;
  transform:translateX(0);
  transition: all .3s ease-in;
}
.fadeRight-leave {
  transform:translateX(0);
  opacity: 1;
}
.fadeRight-leave.fadeRight-leave-active {
  opacity: 0;
  transform:translateX(80px);
  transition: all .2s ease-in;
}