.header{
	line-height: 57px;
	height: 57px;
	overflow: hidden;
	font-size: 14px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	.logo{
		float: left;
		width: 248px;
		.tbzlogo{
			float: left;
			margin-left: 24px;
			margin-right: 10px;
			width: 75px;
			i{
				font-size: 69px;
				vertical-align: middle;
			}
		}
		.branch{
			float: left;
			width: 120px;
			position: relative;
			padding-top: 12px;
			cursor: pointer;
			p{
				line-height: 18px;
			}
			span{
				position: absolute;
				top: 30px;
				left: 0;
				font-size: 12px;
				line-height: 14px;
				i{
					font-size: 28px;
					vertical-align: middle;
					margin-left: -5px;
				}
			}
		}
	}
	.navbar{
		display: inline-block;
		padding-left: 60px;
		a{
			line-height: 57px;
			padding-right: 28px;
		}
	}
	.right{
		float: right;
		padding-right: .6rem;
		a{
			margin-left: 25px;
			float: left;
			i{
				line-height: 19px;
				font-size: 22px;
				vertical-align: middle;
				margin-right: 4px;
			}
		}
	}
}